*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    /* background-image: linear-gradient(45deg,#141e30 , #243b55); */
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
}
.header{
    width: 100%;
    /* background-image: linear-gradient(45deg,#bdc3c7,#2c3e50); */
    display: flex;
    gap: 5px;
    /* flex-wrap: wrap; */
    padding: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 0px rgba(0, 0,0, 0.2);
    /* margin-bottom: 5px; */
}
.header > .portfolio{
    padding: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0,0, 0.2),
    5px 5px 5px 0px rgba(0, 0,0, 0.2),
    -2px -2px 2px 0px rgba(0, 0,0, 0.2),
    -5px -5px 5px 0px rgba(0, 0,0, 0.2);
}
.header > div > .boxbar{
    margin-top: 5px;
    display: flex;
    padding: 4px 0px 4px 4px ;
    background-color: transparent;
    height: 50px;
    justify-content:center;

    /* border: 1px red solid; */
}
.header > div > .boxbar > li{
    list-style: none;
    /* border: 2px solid rgb(27, 52, 197); */
    width: 125px;
    text-align: center;
    padding-top: 10px;
    margin-left: -20px;
    /* padding: 8px; */
    /* height: 30px; */
    transition:0.5s all ease;
}
.header > div > .boxbar > li > a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Hubballi', cursive;
    transition: color 0.5s;
}

.header > div > .boxbar > li:hover {
    background-image: linear-gradient(45deg,#43cea2,#185a9d);
    filter: opacity(.9);
}
.user{
    /* margin-left:15%; */
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 3px;
    /* background-image: linear-gradient(45deg,#ffd89b,#19547b); */

}
.user>.image{
    padding: 10px;
}


.user >.image >img{
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0,0, 0.2),
    -5px -5px 10px 0px rgba(0, 0,0, 0.2);

}
@media screen and (max-width:600px){

    .user{
        display: flex;
        flex-direction: column;
    }
     .box{
        background-image: linear-gradient(45deg,#000428 ,#004e92);
        box-shadow: 2px 2px 2px 0px rgba(0, 0,0, 0.2),
    5px 5px 5px 0px rgba(0, 0,0, 0.2),
    -2px -2px 2px 0px rgba(0, 0,0, 0.2),
    -5px -5px 5px 0px rgba(0, 0,0, 0.2);
    }
    .form > input[type="text"],input[type="email"],input[type="submit"],textarea{
        width: 50%;
    }

}
@media screen and (min-width:600px){
    .header{
        display: flex;
        flex-direction: row;
        
    }
    .header >.box{
        box-shadow: 2px 2px 2px 0px rgba(0, 0,0, 0.2),
    5px 5px 5px 0px rgba(0, 0,0, 0.2),
    -2px -2px 2px 0px rgba(0, 0,0, 0.2),
    -5px -5px 5px 0px rgba(0, 0,0, 0.2);
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: linear-gradient(45deg,#000428 ,#004e92);

    }
    
    .header >.box >.boxbar{
        display: flex;
        justify-content: right;
    }

}
.user >.info{
    line-height: 30px;
    padding: 10px;
    font-family: monospace;
     font-size:20px;
     box-shadow: 5px 5px 5px 0px rgba(0, 0,0, 0.5),
     -5px -5px 5px 0px rgba(0, 0,0, 0.5);
    }
.about{
    /* margin-top: 20%; */
    /* margin-left:15%; */
    /* width: 50%; */
    position: relative;
    width: 100%;
    height: 80vh;
    /* border: 1px red solid; */
    display: flex;
    flex-wrap: wrap;
    line-height: 15px;
    padding: 40px 10px 4px 10px;
    /* height: 80%; */
    background-color: white;
    gap: 30px;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    background-image:linear-gradient(46deg,#2b4e8f,#173f6c,#2dab82);
}
@media  screen and (min-width:480px){
    .about{
        /* width:600px; */
        height: 600px;
        /* margin-left: 40%; */
        display: flex;
        background-color: white;
        flex-wrap: wrap;
        justify-items: center;
    }
    .form > input[type="text"],input[type="email"],input[type="submit"]{
        min-width: 40%;
    }
    .form > textarea{
        min-width: 40%;
    }
    
}
.about > .me{
    margin-top: 5px;
    text-align: center;
    font-size: 50px;
    font-weight:10 ;
    color:rgb(41, 33, 33);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.about >div> p{
    color: rgba(49, 202, 118, 0.788);
    padding:10px;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    /* overflow: hidden; */
    /* border: 1px red solid; */
    max-width: 600px;
    min-height: 500px;
    text-align:center;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
}
.dataInput{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    background-color: white;
    flex-direction:column;
    /* background-image: linear-gradient(45deg,grey,skyblue); */
    margin-top: 0%;
}
.doubt{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0,0.8);
    line-height: 2;
    font-family: monospace;
}
.form_fill{
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto auto auto auto; */
    /* justify-content: center;
    align-items: center; */
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.form > input[type="text"],input[type="email"]{
    min-height: 50px;
    font-size: large;
    color: #4b6eb1ad;
    font-family: 'Titillium Web', sans-serif;
    max-width: 70%;
    background-color: black;
    padding: 0px 0px 0px 10px;
    outline: none;
    border: none;
    filter: opacity(0.8);
}
.form > label{
    font-size: 18px;
    line-height: 2;
}
.form >textarea{
    height: 100px;
    /* max-width: 70 */
    background-color: rgba(0, 0, 0, 0.493);
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
.form > input[type="submit"]{
    margin: 10px;
    min-height: 50px;
    padding: 10px;
    max-width: 70%;
    font-size: 20px;
    color: whitesmoke;
    font-family: monospace;
    border: none;
    background-image: linear-gradient(45deg,black,grey);
    box-shadow: 5px 5px 10px 0px rgba(0, 0,0, 0.2),
    -5px -5px 10px 1px rgba(0, 0,0, 0.2);
}
.form > input[type="submit"]:active{
    outline-color: #43cea2;
    border: 2px solid rgb(130, 191, 231,0.5);

}
.form > input[type="submit"]:active{
    box-shadow: none;
}
.footer{
    width: 100%;
    height: 20vh;
    color: white;
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 0px 5px 10px;
    justify-content: center;
    background-image: linear-gradient(15deg,grey,black);
}
.footer >span{
     box-shadow: inset 2px 2px 2px 0px rgba(0, 0,0, 0.2),
     5px 5px 5px 0px rgba(0, 0,0, 0.2);
     min-height: 30px;
     min-width:40px;
     padding-top: 2px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.footer > span > a{
    text-decoration: none;
    color: white;
    line-height: 1;
    font-size: 25px;
}